In [1]:
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests
import pymongo
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Get LATEST driver version for 91.0.4472
Trying to download new driver from https://chromedriver.storage.googleapis.com/91.0.4472.19/chromedriver_mac64.zip
Driver has been saved in cache [/Users/robertovera/.wdm/drivers/chromedriver/mac64/91.0.4472.19]

In [3]:
mars_url = 'https://redplanetscience.com/'
browser.visit(mars_url)

In [4]:
news_tittle = browser.find_by_css('div.content_title').first
news_p = browser.find_by_css('div.article_teaser_body').first

print(news_tittle.text)
print(news_p.text)

NASA Wins Two Emmy Awards for Interactive Mission Coverage
NASA-JPL's coverage of the Mars InSight landing earns one of the two wins, making this the NASA center's second Emmy.

In [5]:
type(news_p)

splinter.driver.webdriver.WebDriverElement

In [6]:
mars_images = 'https://spaceimages-mars.com/'
browser.visit(mars_images)

In [7]:

featured_image_url = browser.find_by_css('img.thumbimg').first['src']
featured_image_url

'https://spaceimages-mars.com/image/mars/Icaria%20Fossae7.jpg'

In [8]:
mars_facts = 'https://galaxyfacts-mars.com/'

In [9]:
tables = pd.read_html(mars_facts)
len(tables)

2

In [10]:
mars_earth_comparison = tables[0]
#mars_earth_comparison.columns[mars_earth_comparison.iloc[:,0]]
mars_earth_comparison

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [11]:
mars_earth_comparison.columns = [mars_earth_comparison.iloc[0,:]]
#mars_earth_comparison. columns = ['Mars - Earth Comparison','Mars','Earth']
mars_earth_comparison
mars_earth_comparison = mars_earth_comparison.iloc[1:]
#mars_earth_comparison.set_index('Mars - Earth Comparison', inplace=True)
mars_earth_comparison.head()

0 Mars - Earth Comparison             Mars            Earth
1               Diameter:         6,779 km        12,742 km
2                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                  Moons:                2                1
4      Distance from Sun:   227,943,824 km   149,598,262 km
5         Length of Year:   687 Earth days      365.24 days

In [12]:
#mars_earth_comparison.set_index('Mars', inplace=True)
#mars_earth_comparison.columns

In [13]:
mars_profile = tables[1]
#mars_profile.set_index(0, inplace = True)
mars_profile

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [14]:
mars_hemishperes = 'https://marshemispheres.com/'
browser.visit(mars_hemishperes)
soup = bs(browser.html, 'html.parser')
images = soup.find_all('div', class_= 'description')

In [15]:

hemisphere_image_urls = []
for img in images:
    dict_img = {}
    #Gets the title of the Photo
    dict_img['title'] = img.find('h3').text
    
    #Gets the new URL to get the Photo
    temp_url = img.find('a', class_='itemLink product-item')['href']
    vist_url =  mars_hemishperes + temp_url
    
    
    browser.visit(vist_url)
    soup = bs(browser.html, 'html.parser')
    sample_url = browser.links.find_by_partial_text('Sample')['href']

    dict_img['img_url'] = sample_url
    hemisphere_image_urls.append(dict_img)

hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'}]

In [17]:
browser.quit()